<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.strapes.android.addams.fake.call" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission-sdk-23 android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <application
        android:name=".wednesday.message.AdsModule.ApplovinAppOpen"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_splach_new"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_splach_new"
        android:supportsRtl="true"
        android:theme="@style/Theme.RainbowFakeCall"
        tools:targetApi="31" >
        <activity
            android:name=".wednesday.message.HowToUse"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".wednesday.message.activities.ExitScreen"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".wednesday.message.activities.CharacterSelect"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".wednesday.message.activities.PrivacyScreen"
            android:exported="false" />
        <activity
            android:name=".wednesday.message.activities.SettingScreen"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".wednesday.message.activities.SystemCallScreen"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".wednesday.message.activities.FaceBookVideoCallScreen"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".wednesday.message.activities.FaceBookVoiceCallScreen"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".wednesday.message.activities.WhatsAppVideoCallScreen"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".wednesday.message.activities.WhatsAppVoiceCallScreen"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".wednesday.message.activities.SelectCallingOptions"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".wednesday.message.activities.WelcomeScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- &lt;!&ndash; -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- &ndash;&gt; -->
        <!-- </activity> -->
        <activity
            android:name=".wednesday.message.activities.HomeScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".wednesday.message.activities.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".wednesday.message.receiver.CallingReceiver"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="applovin.sdk.key"
            android:value="1_bmW_qf52Dn7qekzDapN-N14yuz5yhayO_SdEvLsVnZU4VQLJNRDUNLu2KcgFVfJ-oxQTazE3IN-k93ncukuA" />
    </application>

</manifest>